/*  General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:var(--third-col);
    font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

section {
    padding: 80px 40px;
    /* display: block; */
    height: 825px;
    overflow: auto;
}

section div h2 {
    text-align: center;
    padding: 0 0 40px;
    font-size: 60px;
    border-bottom: 4px solid;
    margin: 0 auto 25px auto;
    width: 65%;
    border-color: var(--fourth-col);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* color palette */
:root {
    --main-col: #d0a494;
    --second-col: #d8f6f7;
    --third-col: #864e30;
    --fourth-col: #443731;
}

body {
    background-color: var(--main-col);
   
}

/*  header  */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--third-col);
    background-image: url(../images/main-photo.jpeg);
    background-size: cover;
    background-position: 0% 17%;
    flex-wrap: wrap;
    padding: 25px 0;
}

header h1 a {
    font-size: 42px;
    color: var(--fourth-col);
    padding: 0 20px;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header nav ul li {
    padding: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: var(--third-col);
    padding: 15px 25px;
    margin: 2px;
}

header nav ul li a:hover {
    color: var(--fourth-col);
    background-color: var(--third-col);
    border: 2px solid var(--fourth-col);
    border-radius: 50%;
    margin: 0;
}

/* header end  */


/* hero */
.hero {
    background-image: url(../images/main-photo.jpeg);
    background-size: cover;
    height: 700px;
    background-position: center;
}

/* hero end */


/* bio */
.biography div p {
    line-height: 2;
    font-size: 25px;
    text-align: center;
    padding: 0 100px;
}

/* bio end */


/* design portfolio */
.design-portfolio {
    background-color:var(--third-col);
    height: 875px;
}

.design-portfolio h2 {
    color:var(--main-col);
}

.website-selector {
    justify-content: space-evenly;
    margin: 30px 10px 0 100px;
    
}

.website-button {
    color: var(--second-col);
    font-size: 22px;
    font-weight: bold;
    background-color: var(--fourth-col);
    border: none;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.small-buttons {
    width: 50%;
}

#button-one {
    width: 40%;
    height: 500px;
    width: 500px;
    font-size: 50px;
    background-image: url(../images/mariachi.jpeg);
}

#button-two {
    background-image: url(../images/skater.jpeg);
}

#button-three {
    background-image: url(../images/sirsly.jpeg);
}

#button-four {
    background-image: url(../images/beatles.jpeg);
}

#button-five {
    background-image: url(../images/surfers.jpeg.crdownload);
}
.website-button:hover  {
    border: 3px solid var(--second-col);
}

/* design portfolio end */


/* creative output */
.creative-output {
    background-image: url(../images/creative-photo.jpeg);
    background-size: 100%;
    background-position: center;
}

.creative-output-selector {
    justify-content: space-evenly;
}

.creative-output-selector a {
    text-decoration: none;
    color: var(--second-col);
    font-size: 70px;
    font-weight: bold;
    padding: 20px 40px 30px;
    position: relative; top: 220px;
}

.creative-output-selector a:hover {
    background-color: var(--second-col);
    color: var(--fourth-col);
    border-radius: 50%;
}

/* creative output end */


/* contact */
.contact {
    background-color: var(--third-col);
    color:var(--main-col);
    height: 880px;
}

.contact-form {
    width: 80%;
    height: 80%;
    margin:auto;
    justify-content: space-evenly;
    background-color: var(--fourth-col);
    padding: 60px;
    text-align: right;
}

.contact-form p, .contact-form a {
    text-decoration: none;
    color: var(--main-col);
    line-height: 2;
    padding: 3px 20px;
}

.contact-form p {
    font-size: 35px;
    font-weight: bold;
}

.contact-form a {
    font-size: 30px;
    margin: 3px;
}

.contact-form a:hover {
    color: var(--fourth-col);
    background-color: var(--main-col);
    border: 3px solid var(--second-col);
    border-radius: 10px;
    margin: 0;
}

.contact-photo {
    
    height: 400px;
    width: auto;
    overflow: hidden;
    box-shadow: 12px 15px 1px;
}

.contact-photo img {
    height: 500px;
}


/* contact end */


/* footer */
footer div {
    line-height: 1.8;
    text-align: right;
    padding: 20px 40px;
    color: var(--third-col);
    background-color: var(--fourth-col);
}



/* Media queries for smaller desktops */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      position: relative;
      background-size: 2000px;
      background-position: top;
}

header h1 a {
    font-size: 35px;
}

header nav ul li a {
    font-size: 18px;
}

.biography {
    height: 1000px;
}

.biography div p {
    font-size: 20px;
}

.design-portfolio {
    height: 800px;
}

.website-selector {
    margin: 0 0 0 60px;
}
  
.website-button {
    font-size: 15px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 25px;
}

#button-one {
    height: 200px;
    width: 200px;
}

.small-buttons {
    width: 80%;
}

.creative-output {
    height: 650px;
}

.creative-output-selector a {
    font-size: 50px;
    position: relative; top: 50px;
    padding: 10px 15px;
}

.contact {
    height: 1000px;
}

.contact-form {
    padding: 20px 0 30px;
}

.contact-form form a, .contact-form form p {
    text-align: left;
    font-size: 25px;

}

.contact-photo {
    height: 250px;
    width: auto;
}

.contact-photo img {
    height: 250px;
}
}

/* Media queries for iPads/tablets */
@media screen and (max-width: 768px) {
    header{
        justify-content: center; 
        padding: 0;
}

    section {
      height: 2000px;
}

header h1 a {
    font-size: 25px;
}

header nav ul li a {
    font-size: 20px;
    padding: 10px 7px;
}

.design-portfolio {
    height: 950px;
}

.creative-output-selector a {
    font-size: 50px;
    position: relative; top: 50px;
    padding: 30px 15px;
}

/* Media queries for phones and smaller */
@media screen and (max-width: 575px) {
section {
    padding: 25px 5px;
    height: 1000px;
}

section div h2 {
    font-size: 30px;
}

.biography div p {
    line-height: 1.5;
    font-size: 16px;
}

.small-buttons {
    width: 85%;
}
}